body {
  margin: 0;
}

div {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(88, 136, 224);
  color: black;
  text-transform: uppercase;
}

button {
 
  padding: 1em 2em;
  background-color: rgb(9, 9, 77);
  font-weight: bold;
  color: whitesmoke;
  text-transform: uppercase;
  border: rgb(9, 9, 77);

}

textarea {
  width: 90%;
  background-color: black;
  color: white;
  height: 200px;
  font-size: 1.5rem;
  outline: none;
  border: none;
}

textarea:disabled {
  background-color: #747171;
  color: black;
}
