
  body {

    background-color: whitesmoke;
}

.Todo-List {
    background-color: white;
    height: 100%;
    width: 50%;
    margin:auto;
    display: flex;
    flex-direction: column;
    
}

.Todo-item {
    padding: 10px 20px;
    color:tomato;


}